%h1 店舗詳細

.main.container
  .contents
    .contents__container
      - if @find == nil
        = form_with(model: @favorite, url: shops_path, local: true) do |f|
          = f.hidden_field :shop_id, value: @shop['id']
          = f.hidden_field :name, value: @shop['name']
          = f.hidden_field :genre, value: @shop['genre']['name']
          = f.hidden_field :open, value: @shop['open']
          = f.hidden_field :photo, value: @shop['photo']['pc']['m']
          = f.submit "☆", class: 'btn btn-success'
      - else
        = link_to '★', shop_path(@shop['id']), method: :delete, data: {confirm: '削除しますか？'}, class: 'btn btn-danger'
      .shops
        .shops__logo-field
          %img{src: @shop['logo_image'], width: "100", height: "100"}
        %table
          %tr
            %th
              店舗名称
            %td
              = "#{@shop['name']}"
          %tr
            %th
              店名かな
            %td
              = "#{@shop['name_kana']}"
          %tr
            %td{colspan: "2"}
              %img{src: @shop['photo']['pc']['l']}
          %tr
            %th
              ジャンル
            %td
              = "#{@shop['genre']['name']}"
          %tr
            %th
              住所
            %td
              = "#{@shop['address']}"
          %tr
            %th
              営業時間
            %td
              = "#{@shop['open']}"
          %tr
            %th
              定休日
            %td
              = "#{@shop['close']}"
          %tr
            %th
              ディナー予算
            %td
              = "#{@shop['budget']['average']}"
          %tr
            %th
              禁煙席
            %td
              = "#{@shop['non_smoking']}"
          %tr
            %th
              WiFi
            %td
              = "#{@shop['wifi']}"
          %tr
            %th
              URL
            %td
              = link_to "#{@shop['urls']['pc']}", @shop['urls']['pc']
